.funnel-dashboard{
  padding:40px;
}

.title{
  margin-bottom:25px;
}

/* layout */

.funnel-grid{
  display:grid;
  grid-template-columns:2fr 1fr;
  gap:20px;
}

/* cards */

.funnel-card{
  background:#ffffff0f;
  padding:20px;
  border-radius:10px;
}

/* funnel steps */

.funnel-steps{
  margin-top:25px;
}

.step{
  background:#3b4155;
  padding:12px;
  margin-bottom:10px;
  border-radius:8px;
  text-align:center;
}

/* make funnel shape */

.upload{
  width:100%;
}

.process{
  width:75%;
  margin-left:12%;
}

.publish{
  width:50%;
  margin-left:25%;
}

/* content type */

.type-list{
  margin-top:20px;
}

.type-item{
  margin-bottom:15px;
}

.type-bar{
  height:8px;
  background:#505770;
  margin-top:6px;
  border-radius:10px;
}